.zw{
    /* background-color:#121926; */
  height:100%;
padding:20px;

}
.td{
    height:14vh;
  
}
.sdbr{
    height: 83vh;
}
.mp{
    width:250px;
  
}
.fonts{
  
    font-size: 25px;
    color:#ffc107;
  
}
.nvbar-r{
    float: right;
}
.admn-hdr{
margin:auto;
}
.qq{
float:right;
}
.hd{
    
   background-color:#343a40;
   color:#ffc107;
   width:500px;
  
}
.hdr{
    position:sticky;
}
.q{
    background-color: white;
}
.qwerty{
    margin-bottom: 25px;
}
.jkl{
color:white;
}
.hght{
    height:90px;
}
.nav-hvr:hover{
    color:#ffc107;
}
.zx{
    width:410px;
}

.bdy{
  
    background-color:#343a40;
    height: 220px;
    width:500px;
}
.abc{
    height: 320px;
    width: 700px;
 display:flex;
    padding-top: 30px;
    
}
.inputLogin{
    width: 90%;
    line-height: 30px;
    outline: none;
    border:0px;
    border-bottom: 2px solid #ffc107;
    text-align: center;
    background-color: rgb(105, 93, 93);
    color: honeydew;
}
.inputLogin:focus{
    border-bottom: 2px solid #cac9c4;
}
.ft{
    width:500px;
    background-color:#343a40;
    color:red;
    height:70px;
   
}
.bttn{
    width: 200px;
}
.as{
    display: none;
}
.body{
  
    background-color:#343a40;
    height: 320px;
    width:500px;
}
.a1{
    display: none;
}
.a2{
    display: block;
}
.dash{
    width: 100%;
    height:100%;
    background-color:#121926;

}
.font{
   
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.font:hover{
    color:#ffc107;
    cursor: pointer;
}
.colr{
    background-color: rgb(26, 31, 36);
    padding:120px;
  
}
.colr-edu{
    padding:120px;
}
.crousel-div{
    width:100%;
    height:400px;

}
.btm-mrgn{
    margin-bottom: 32px;
}
.imghvrr:hover{
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}
.images{

    height:300px;
  
 
    /* background-color:#121926; */
}
.imghv{
    border-radius: 9px;
    margin-bottom: 10px;
}
.imghv:hover{

padding:0px;
cursor: pointer;
}
.see{
    display: flex;
    justify-content: space-between;
}
.zcv{
    padding:15px;
    color:white;
}
.zcv:hover{
    cursor: pointer;
}
.acb{
    width:100px;
    height:100px;
}
.fntssclr{
color:black;
font-family: cursive;
}
.container{}

	.main_header{
		padding-top: 3%;
	}
	
	.main_header__title{
		position: relative;
		height: 50px;
		vertical-align: baseline;
		color: #d31cb4;
		text-transform: uppercase;
		font-size: 35px;
        font-weight: bold;
		margin-left: 1%;
	}
	.container__title{
		position: relative;
		height: 30px;
		vertical-align: baseline;
		font-size: 0.9em;
		font-weight: 400;
		color: #f6f6f6;
		text-transform: uppercase;
		border-bottom: 1px solid #f9f9f9;
	}

	

	
    .box:hover{
      box-shadow: 15px 15px 13px rgba(#555, 0.3);
      transition: .4s;
      transform: translate(-1%, -1%);
    }
	.box{
		position: relative;
		height: 250px;
		box-shadow: 3px 3px 10px rgba( #555, 0.5);
		border-radius : 8px;
		margin-bottom : 42px;
    transition :1s;
    margin-right:12px;
    }
		a:hover .box__title{
			height: 35%;
      transition: 1s;
			
			
		}
    
		
		.img{
			width: 260px;
			height: 200px;
			object-fit: cover;
           
			/* border-radius: 4px; */
            
		}

		.box__title{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 25%;
			background-color: #F6F6F6;
			border-radius: 0 0 8px 8px;
			vertical-align: middle;
			transition: .5s;
			transition-timing-function: ease-out;
        }
			p{
				opacity: 0;
				text-align: center;
				color: #bababa;
				font-size: .8em;
				margin: 0;
				transition-delay: .2s;
				transition: .2s;
				transition-timing-function: ease-out;
			}

			h6{
				text-align: center;
				color: #bababa;
				text-transform: uppercase;
				margin: 7% 0 0 0;
				font-size: .9em;
			}
		
	


	.add_box{
		@extend.box;
		background-color: #f9f9f9;
    }
		.add_box__title{
			position: absolute;
			width: 100%;
			text-align: center;
			color: #bababa;
			top: 60%;
			
		
		}

		a:hover svg{
			margin-top: 21.5%;
		}
	

.aqwa{
    font-size: 100%;
    height: 100vh;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #031f1e;
  background: radial-gradient(ellipse at center, #C0F0F0, #0b504f36);
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items:flex-end;
  }

 
  .lgnbtn{
   color:silver;
cursor: pointer;
margin: 7px;
font-size:18px;
font-weight:600;
text-underline-position:above;

  }
  .btnrgs{
height: 30px;
padding:0px;
padding-left: 10px;
padding-right: 10px;
margin: 5px;
font-weight: bolder;
  }
  .lgout{
  
      color:lightblue;
      padding: 0;
      
      width:70px;
  }
  .lgout:hover{
    transition: none;
  }
.awwe{
margin-left:100px;

}
  .weeq{
     background-color: #ffc107;
     width: 100%;
height:2px;
    }
    .imss{
        background-color:#242B2E;
        width:100%;
        height: 500px;
    }
    .fd{
        padding-left: 100px;
        background-color:#242B2E;
        width:100%;
      
    }
    .blr{
       width:90%;
       height: 90%;
     
    }
    .d-fex{
        float: right;
    }
    .card-hvr{
        box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
        height:300px;
    }
    .heading{
        padding: 30px 30px 0;
        text-align: center;
        margin: 0;
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 500;
        line-height: 1.1;
    }
    .heading-hr{
        width:70%;
        margin:0 auto;
        height: 2px;
        border-width: 0;
        color: gray;
        background-color:gray;
    }
    .imghw{
        height: 500px;
    }
    .fntss{
        color:white;
        font-family: cursive;
    }
    .inbx-tbl{
        height: 100%;
        width:80%;
        margin: auto;
    }
    .inbx-tr:hover{
        box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    }
    .cross-icn{
        cursor: pointer;
    }
    .tick-icn{
        cursor: pointer;
    }
    .icn{
        display:none;
    }
    .inbx-tr:hover .icn{
        display:block;
    }
    .time{
        display:block;
    }
    .inbx-tr:hover .time{
        display:none;
    }
    .hvr-csr-p:hover{
        cursor: pointer;
    }
    .Sidebar{
        height: 83vh;
            width: 200px;
        background-color:rgb(79,87,94);
         }
     
      .list{
        height: 350px;
        padding: 0;
        width: 211px;
        
      }
     
      .rowss{
        width: 200px;
        height: 70px;
   
        list-style-type: none;
        margin: 0%;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
       }
     
       .rowss:hover{
         cursor: pointer;
         background-color: rgb(52, 58, 64);
       }
     
       .list #active{
         background-color: rgb(52, 58, 64);    

       }
     
      .icon{
        flex: 30%;
        display: grid;
        place-items: center;
      }
     
      .title{
        flex: 70%;
      }
      .rowss:hover .title{
        color:#ffc107;
      }
      .list #active .title{
        color:#ffc107;
      }
      .admn-hdr{
          font-size: 32px;
          font-family: 'Times New Roman', Times, serif;
          color:white;
      }
      @media only screen and (max-width: 760px) {
        .title {
        display:none;
        }
        .rowss{
            width:80px;
        }
        .Sidebar{
            width:80px;
        }
        .rowss:hover .icon{
            color:#ffc107;
          }
          .list #active .icon{
            color:#ffc107;
          }
      }
